*{
    padding: 1;
    margin: 0;
}
nav{
    display: flex;
    position: relative;
    width: fit-content;
    padding-right: 1rem;
}
#logo{
    font-size: 180%;
    text-transform: uppercase;
    text-decoration: none;
}